section {
  // padding: 127px 0px;
  @media (max-width: 1024px) {
    padding: 98px 0px;
  }
  @media (max-width: 320px) {
    padding: 57px 0px;
  }
  .container {
    @include _container;
    #features-wrap {
      display: flex;
      justify-content: space-between;
      // margin-bottom: 97px;
      flex-wrap: wrap;
      @media (max-width: 320px) {
        flex-direction: column;
      }
      .card {
        width: 30%;
        margin: 0 15px ;
        transition: 0.3s;
        margin-bottom: 50px;
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          margin-bottom: 0;
        }
        &:hover{
          transform: scale(1.05);
        }
        .card_pic {
          text-align: center;
          transition: 0.3s;
          margin-bottom: 41px;
          @media (max-width: 1024px) {
          margin-bottom: 35px;
          }
        }
        h4 {
          @include _h4;
          @media (max-width: 320px) {
            margin-bottom: 5px;
          }
        }
        .text {
          @include _card_text;
          text-align: center;
        }
      }
    }
  }
}
