#works-section {
    .wrap {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(2, 21.25rem);
        #work_1 {
            background-image: url("../img/3_works_img/work_1.png");
            @include _works_card;
        } 
        #work_2 {background-image: url("../img/3_works_img/work_2.png"); @include _works_card;}
        #work_3 {background-image: url("../img/3_works_img/work_3.png"); @include _works_card;}
        #work_4 {background-image: url("../img/3_works_img/work_4.png"); @include _works_card;}
        #work_5 {background-image: url("../img/3_works_img/work_5.png"); @include _works_card;}
        #work_6 {background-image: url("../img/3_works_img/work_6.png"); @include _works_card;}
        #work_7 {background-image: url("../img/3_works_img/work_7.png"); @include _works_card;}
        #work_8 {background-image: url("../img/3_works_img/work_8.png"); @include _works_card;}
        
        &:hover {
            cursor: pointer;
        }
    }
}