#team-section {
  padding: 35px 0;
  #team-container {
    @include _container;
    #team-wrap {
      display: flex;
      justify-content: space-between;
      &:last-child {
        margin-bottom: 0px;
      }
      .team_card {
        width: 270px;
        margin: 0 15px;
        #card-img {
            width: 100%;
            margin-bottom: 30px;
            img {
              @include _img_position;
            }
            @media (max-width: 320px) {
              margin-bottom: 25px;
            }
        }
        .team-card-name {
            @include _h4;
            text-transform: none;
            font-weight: 700;
            text-align: left;
            margin-bottom: 6px;
            @media (max-width: 320px) {
              font-size: $_18px;
              margin-bottom: 5px;
            }
          }
        h5 {
          color: $_pink;
          font-size: $_18px;
          text-transform: uppercase;
          font-weight: 400;
          text-align: left;
          margin-bottom: 18px;
          @media (max-width: 1024px) {
            font-size: 0.875rem;
          }
          @media (max-width: 320px) {
            font-size: 0.875rem;
            margin-bottom: 38px;
          }
        }
        .text {
          @include _card_text;
          text-align: left;
          margin-bottom: 49px;
          @media (max-width: 320px) {
            margin-bottom: 55px;
          }
        }
        .icons {
          width: 45%;
          display: flex;
          justify-content: space-between;
          a {
            transition: 0.4s;
            i {
              font-size: $_24px;
              color: $_grey;
            }
            &:hover {
              transform: scale(1.2) rotate(360deg);
              color: $_deep_blue_bg_footer;
              text-shadow: 10px 2px 2px $_blue;
            }
          }
          
        }
        transition: 0.3s;
        &:hover {transform: scale(1.05);}
        @media (max-width: 320px) {
          margin-bottom: 50px;
        }
      }
      @media (max-width: 320px) {
        flex-direction: column;
      }
    }
  }
}

@media (max-width) {
  .team-card {
    width: 227px;
  }
}