@import "../sass/fonts.scss";
@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@import "../sass/1_header.scss";
@import "../sass/2_features.scss";
@import "../sass/3_works.scss";
@import "../sass/4_team.scss";
@import "../sass/5_slider.scss";
@import "../sass/6_download.scss";
@import "../sass/7_bottom.scss";
@import "../sass/8_footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}
