@mixin _container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  @media (max-width: 1024px) {
    max-width: 984px;
  }
  @media (max-width: 320px) {
    max-width:300px;
    padding: 0 5px;
  }
}

@mixin _img_position {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin _on_background {
  position: relative;
  z-index: 1;
}

@mixin _h1 {
  color: $_white;
  font-size: $_64px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  @media (max-width: 1024px) {
    font-size: $_48px;
  }
  @media (max-width: 320px) {
    font-size: $_36px;
  }
}

@mixin _btn {
  width: 23.125rem;
  text-transform: uppercase;
  color: $_white;
  font-family: "Raleway";
  font-weight: 600;
  font-size: $_24px;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  line-height: 4.875rem;
  @media (max-width: 1024px) {
    width: 19.5625rem;
  }
  @media (max-width: 320px) {
    width: 279px;
  }
}

@mixin _btn_norm {
  @include _btn;
  background-color: $_pink;
}

@mixin _btn_hover {
  @include _btn_norm;
  background-color: $_red;
}

@mixin _btn_active {
  @include _btn_norm;
  box-shadow: 4px 4px 30px $_pink;
}

@mixin _h4 {
  color: $_black;
  font-size: $_24px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  line-height: $_28px;
  margin-bottom: 1.25rem;
  @media (max-width: 1024px) {
    font-size: $_18px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
  }
}

@mixin _card_text {
  color: $_grey;
  font-size: $_18px;
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
  }
}

@mixin _bottom_cards {
  width: 30%;
  margin: 0 0.9375rem;
  @media (max-width: 320px) {
    width: 280px;
    margin: auto;
  }
}

@mixin _bottom_h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: $_18px;
  text-align: center;
  margin-bottom: $_29px;
  @media (max-width: 320px) {
    font-size: 0.875rem;
    margin-bottom: 2.125rem;
  }
}

@mixin _bottom_h5 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: $_18px;
  text-align: center;
  @media (max-width: 320px) {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
  }
}

@mixin _work_cover_before {
  content: "";
  background-color: $_pink_for_img_hover;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

@mixin _work_cover_after {
  @include _work_cover_before;
  background-color: $_red_for_img_active;
}

@mixin _h4_work {
  @include _h4;
  // margin-top: 6.875rem;
  color: $_white;
  position: absolute;
  z-index: 1;
  // left: 30%;
  width: 100%;
  margin: 40% auto;
  @media (max-width: 1024px) {
    margin: 30% auto;
  }
}

@mixin _h5_work {
  @include _bottom_h5;
  // margin-top: 1.3125rem + 6.875rem + $_24px;
  color: $_white;
  position: absolute;
  z-index: 1;
  // left: 30%;
  width: 100%;
  margin: 55% auto;
  @media (max-width: 1024px) {
    margin: 45% auto;
  }
}

@mixin _works_card {
  @include _img_position;
  position: relative;
  h4 {
      @include _h4_work;
      display: none;
  }            
  h5 {
      @include _h5_work;
      display: none;
  }
  &:hover::before {
      @include _work_cover_before;
      display: block;
  }
  &:hover h4 {
      display: block;
  }
  &:hover h5 {
      display: block;
  }
  &:active::after {
      @include _work_cover_after;
      display: block;
  }
} 
