//colors
$_black: rgba(0, 0, 0, 1);
$_white: rgba(255, 255, 255, 1);
$_grey: rgba(186, 187, 197, 1);
$_red: rgba(231, 20, 20, 1);
$_pink: rgba(255, 67, 67, 1);
$_blue: rgba(37, 43, 73, 0.8);

// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_28px: 1.75rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
