//colors
$_black: rgba(0, 0, 0, 1);
$_white: rgba(255, 255, 255, 1);
$_grey: rgba(186, 187, 197, 1);
$_red: rgba(231, 20, 20, 1);
$_pink: rgba(255, 67, 67, 1);
$_blue: rgba(37, 43, 73, 0.8);
$_blue_bg_bottom: rgba(53, 60, 101, 1);
$_deep_blue_bg_footer: rgba(44, 49, 84, 1);
$_grey_footer: rgba(128, 128, 128, 1);
$_pink_for_img_hover: rgba(255, 67, 67, 0.8);
$_red_for_img_active: rgba(185, 12, 12, 0.8);
$_violet: rgba(92, 50, 73, 1);


// font-size
$_64px: 4rem;
$_49px: 3.0625rem;
$_48px: 3rem;
$_39px: 2.4375rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_29px: 1.8125rem;
$_28px: 1.75rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
